backports-abc==0.5
beautifulsoup4==4.6.0
bleach==2.0.0
boto==2.48.0
bz2file==0.98
certifi==2017.7.27.1
chardet==3.0.4
colorlover==0.2.1
cssselect==1.0.1
cufflinks==0.12.0
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
dateutils==0.6.6
decorator==4.1.2
dill==0.2.7.1
en-core-web-sm==1.2.0
entrypoints==0.2.3
feedfinder2==0.0.4
feedparser==5.2.1
ftfy==4.4.3
gensim==2.3.0
html5lib==0.999999999
hypothesis==3.23.0
idna==2.6
ipdb==0.10.3
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
jedi==0.10.2
jieba3k==0.35.1
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
lxml==3.8.0
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
murmurhash==0.26.4
nbconvert==5.2.1
nbformat==4.4.0
newspaper3k==0.2.2
nltk==3.2.4
notebook==5.0.0
numpy==1.22.0
olefile==0.44
pandas==0.20.3
pandas-datareader==0.5.0
pandocfilters==1.4.2
pathlib==1.0.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
plac==0.9.6
plotly==2.0.14
preshed==1.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
regex==2017.7.28
requests==2.18.4
requests-file==1.4.2
requests-ftp==0.3.1
scikit-learn==0.19.0
scipy==0.19.1
seaborn==0.8
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
smart-open==1.5.3
spacy==1.9.0
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
thinc==6.5.2
tldextract==2.1.0
toolz==0.8.2
tornado==4.5.1
tqdm==4.15.0
traitlets==4.3.2
typing==3.6.2
ujson==1.35
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.1
wrapt==1.10.11
